@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");
/*Estilos Generales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arvo", serif;
  font-weight: 500;
  font-size: calc(2em + 1vw); }

.container {
  margin: 0 auto;
  max-width: 1250px; }

.button {
  background-color: #421763;
  border: none;
  color: white;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  .button:hover {
    background-color: #368362; }

.titulo1 {
  font-family: "Arvo", serif; }

.titulo2 {
  font-family: "Arvo", serif; }

.titulo3 {
  font-family: "Arvo", serif; }

.titulo4 {
  font-family: "Arvo", serif; }

.titulo5 {
  font-family: "Arvo", serif; }

.titulo6 {
  font-family: "Arvo", serif; }

p {
  font-family: "Libre Baskerville", serif;
  font-size: 16px !important; }

li {
  list-style: none; }

/* <----------- cierre de estilos generales----------------- */
.header {
  background-color: #FFEFCA; }

.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .header__nav .header__nav-logo {
    flex: 1 1 50%; }
  .header__nav .menu__bars {
    margin-right: 1rem; }
    .header__nav .menu__bars * > i {
      font-size: 1.5rem;
      padding: 0.5rem;
      color: #d8bd95; }
  .header__nav .header__nav-menu {
    flex: 1 1 100%;
    position: fixed;
    top: 68px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76); }
    .header__nav .header__nav-menu .nav-menu__none {
      opacity: .8;
      position: relative;
      cursor: pointer; }
      .header__nav .header__nav-menu .nav-menu__none .header__nav--link {
        color: #FFEFCA;
        text-align: center; }
        .header__nav .header__nav-menu .nav-menu__none .header__nav--link:hover {
          background-color: #176294; }
  .header__nav #miModal:target {
    opacity: 1;
    pointer-events: auto;
    z-index: 30;
    transition: all 1s; }
  .header__nav .titulo1 {
    font-size: 40px; }
  .header__nav .header--nav-titulo {
    color: #FFEFCA;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
    display: inline-block;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 0 8px 9px #d8bd95, 0px -2px 1px #176294; }
  .header__nav .header__nav--link {
    color: #421763;
    display: block;
    font-family: "Libre Baskerville", serif;
    padding: 1.5rem;
    text-decoration: none; }
    .header__nav .header__nav--link:hover {
      color: #176294; }

@media screen and (min-width: 680px) {
  .header__nav-menu .nav-menu__none {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }

/* ------------------------------- seccion carousel -------------------------------------- */
.seccion-fondo {
  height: 75vh;
  position: relative; }
  .seccion-fondo .contenedor-img-fondo:nth-child(1), .seccion-fondo .contenedor-img-fondo:nth-child(2), .seccion-fondo .contenedor-img-fondo:nth-child(3) {
    background-image: url(../img/imagenes-galeria/images7_big.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    opacity: 0;
    width: 100%;
    height: inherit;
    position: absolute; }
    .seccion-fondo .contenedor-img-fondo:nth-child(1)::before, .seccion-fondo .contenedor-img-fondo:nth-child(2)::before, .seccion-fondo .contenedor-img-fondo:nth-child(3)::before {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      position: absolute; }
    .seccion-fondo .contenedor-img-fondo:nth-child(1) .slider-titulo-index, .seccion-fondo .contenedor-img-fondo:nth-child(2) .slider-titulo-index, .seccion-fondo .contenedor-img-fondo:nth-child(3) .slider-titulo-index {
      z-index: 1; }
      .seccion-fondo .contenedor-img-fondo:nth-child(1) .slider-titulo-index .contenedor__titulo, .seccion-fondo .contenedor-img-fondo:nth-child(2) .slider-titulo-index .contenedor__titulo, .seccion-fondo .contenedor-img-fondo:nth-child(3) .slider-titulo-index .contenedor__titulo {
        color: #FFEFCA;
        font-size: calc(3em + 2vw);
        text-shadow: 1px 1px #A995B9, -1px -1px #333; }
  .seccion-fondo .contenedor-img-fondo:nth-child(2) {
    background-image: url(../img/imagen-slider-2); }
  .seccion-fondo .contenedor-img-fondo:nth-child(3) {
    background-image: url(../img/imagen-slider-3.jpg); }
  .seccion-fondo .contenedor-img-fondo:first-child {
    opacity: 1; }
  .seccion-fondo .contenedor-img-fondo:target {
    opacity: 1; }

.slider .slider__ul-flex {
  display: flex;
  justify-content: center; }
  .slider .slider__ul-flex .slider--miniatura {
    height: 150px;
    object-fit: cover;
    padding: 0.5rem;
    width: 150px;
    border-radius: 10px; }
    .slider .slider__ul-flex .slider--miniatura:hover {
      filter: brightness(50%);
      cursor: pointer;
      transition: all .5s; }

/* --------------------------------------------------------- fin de la seccion del contenedor carousel ---------------------------------------------------- */
.titulo-responsivo {
  margin: 1rem 0px;
  padding: 3rem;
  text-align: center; }
  .titulo-responsivo .responsivo__titulo1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #95BCAB, 0 0 5px #176294; }

.contenedor-informacion .flex__contenedor-1 .flex__contenedor-contenido {
  padding: 1.5rem; }
  .contenedor-informacion .flex__contenedor-1 .flex__contenedor-contenido > * {
    padding: 1rem;
    text-align: justify; }

.contenedor-informacion .flex__contenedor-1 .contenedor--imagen {
  background-attachment: fixed;
  background-image: url(../img/laGuajira.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  height: 80vh;
  width: 100%; }

.contenedor-informacion .flex-contenedor-2 {
  padding-top: 2.5rem; }
  .contenedor-informacion .flex-contenedor-2 > h2 {
    padding: 1.5rem;
    text-align: center; }
  .contenedor-informacion .flex-contenedor-2 .contenido-flex__contenedor-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url(../img/portada-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    height: 50vh;
    position: relative; }
    .contenedor-informacion .flex-contenedor-2 .contenido-flex__contenedor-2::before {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      position: absolute; }
    .contenedor-informacion .flex-contenedor-2 .contenido-flex__contenedor-2 > p {
      padding: 1.5rem;
      text-align: center;
      font-size: 18px;
      color: #fff;
      position: relative; }

.contenedor-informacion .flex__contenedor-3 .flex__contenedor-contenido {
  padding: 1.5rem; }
  .contenedor-informacion .flex__contenedor-3 .flex__contenedor-contenido > * {
    padding: 1rem;
    text-align: justify; }

.contenedor-informacion .flex__contenedor-3 .contenedor--imagen {
  background-attachment: fixed;
  background-image: url(../img/mochila-wayuu.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%; }

@media screen and (min-width: 960px) {
  .flex__contenedor-1 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .flex__contenedor-1 .flex__contenedor-contenido {
      flex: 0 0 50%; }
  .flex__contenedor-3 {
    display: flex;
    justify-content: space-between; }
    .flex__contenedor-3 .flex__contenedor-contenido {
      flex: 0 0 60%;
      order: 2; } }

/* --------------------------------------------- seccion catalogo ----------------------------------------- */
.section-slide {
  align-items: center;
  background-image: url(https://colombia.travel/sites/default/files/inline-images/xLos-tejidos-Way,PC3,PBAu_-lo-mejor-del-crochet---Cortesia-Mario-Carvajal-www.mariocarvajal.jpg.pagespeed.ic.Je2ROLAKQF.jpg);
  background-repeat: no-repeat repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-bottom: 0;
  position: relative; }
  .section-slide::before {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    position: absolute; }
  .section-slide .contenido-slide {
    color: #FFEFCA;
    line-height: 6vh;
    text-align: center;
    z-index: 1; }
    .section-slide .contenido-slide .slide--titulo {
      text-shadow: 1px 1px #A995B9, -1px -1px #333;
      font-size: calc(3em + 2vw); }
    .section-slide .contenido-slide .contenido-slide--boton {
      background: rgba(0, 0, 0, 0);
      border-color: #FFEFCA;
      border: 2px solid;
      color: #FFEFCA;
      font-size: 20px;
      font-weight: 500;
      padding: 0.5em 1.2em;
      transition: all 1s ease;
      text-decoration: none; }
      .section-slide .contenido-slide .contenido-slide--boton:hover {
        background-color: #E7CC8F;
        color: #421763;
        transition: all 1s; }

.section-galeria {
  padding: 1rem; }
  .section-galeria .galeria__card {
    display: grid;
    gap: 1rem; }
    .section-galeria .galeria__card .card-imagenes .card--imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.6rem; }
      .section-galeria .galeria__card .card-imagenes .card--imagen:hover {
        filter: brightness(40%);
        transition: all 0.5s;
        text-align: center; }

.contenedor-informativo-wayuu .info-wayuu__informacion {
  height: auto;
  padding: 1rem; }
  .contenedor-informativo-wayuu .info-wayuu__informacion .informacion-mochilas__wayuu .informacion-titulo__wayuu {
    font-size: calc(2em + 1vw);
    font-family: "Arvo", serif; }
  .contenedor-informativo-wayuu .info-wayuu__informacion .informacion-mochilas__wayuu .informacion__texto {
    font-family: "Libre Baskerville", serif;
    text-align: justify;
    padding: 2.5rem 0px; }

.contenedor-ecommers .contenedor-miTienda .miTienda-titulo__wayuu {
  font-family: "Arvo", serif;
  text-align: center;
  padding: 1.5rem; }

.contenedor-ecommers .contenedor-miTienda .contenedor-galeria__tienda {
  padding: 1rem;
  height: auto; }
  .contenedor-ecommers .contenedor-miTienda .contenedor-galeria__tienda .galeria--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem; }
    .contenedor-ecommers .contenedor-miTienda .contenedor-galeria__tienda .galeria--img:hover {
      filter: brightness(40%);
      transition: all 0.5s;
      text-align: center; }

@media screen and (min-width: 330px) {
  .contenedor-galeria__tienda {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 180px;
    gap: 1rem; } }

@media screen and (min-width: 460px) {
  .galeria__card {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 340px 340px 340px;
    gap: 1rem; }
  .contenedor-galeria__tienda {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 280px; } }

@media screen and (min-width: 680px) {
  .galeria__card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 340px 340px 340px;
    gap: 1rem; }
    .galeria__card .card-imagenes:nth-child(6) {
      grid-column: 3 / 4;
      grid-row: 2 / 4; }
  .contenedor-galeria__tienda {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 380px; } }

@media screen and (min-width: 980px) {
  .galeria__card {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 340px 340px 340px;
    gap: 1rem; }
    .galeria__card .card-imagenes:nth-child(1) {
      grid-row: 1 / 3; }
    .galeria__card .card-imagenes:nth-child(3) {
      grid-column: 3 / 5; }
    .galeria__card .card-imagenes:nth-child(4) {
      grid-column: 3 / 5;
      grid-row: 3 / 4; }
    .galeria__card .card-imagenes:nth-child(5) {
      grid-row: 3 / 4; }
    .galeria__card .card-imagenes:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 2 / 4; }
  .info-wayuu__informacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1rem; }
    .info-wayuu__informacion .informacion-mochilas__wayuu:nth-child(2) {
      flex: 1 1 50%; }
  .contenedor-galeria__tienda {
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 380px; } }

/* seccion ----------------------------------------------------- quienes somos */
.img__slider {
  background-image: url(https://seecolombia.travel/blog/wp-content/uploads/2016/05/2016-02-26-07.49.47-1-1024x768.jpg) !important; }
  .img__slider .texto-slider {
    padding-top: .8rem; }

.contenido-quienes-somos {
  padding: 1rem; }
  .contenido-quienes-somos .contenido-valores__compromiso .contenido__titulo {
    color: #421763;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444; }
  .contenido-quienes-somos .contenido-valores__compromiso .contenido__texto {
    text-align: justify;
    margin-bottom: 1rem; }
  .contenido-quienes-somos .contenido-servicio .flex-contenido-servicios {
    flex: 1 0 50%;
    padding-right: 3rem; }
    .contenido-quienes-somos .contenido-servicio .flex-contenido-servicios .contenido-servicio__titulo {
      margin-bottom: 1rem; }
    .contenido-quienes-somos .contenido-servicio .flex-contenido-servicios .contenido-servicio__titulo {
      color: black;
      text-shadow: 1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3; }
  .contenido-quienes-somos .contenido-servicio .contenido-servicio__imagen {
    order: 1;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .contenido-quienes-somos .contenido-servicio .contenido-servicio__imagen .contenido-servicio--img {
      border-radius: .4rem;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .contenido-quienes-somos .division--contenidos {
    margin-bottom: 1rem;
    color: antiquewhite; }

@media screen and (min-width: 680px) {
  .flex-servicios .contenido-servicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .flex-servicios .contenido-servicio .flex-contenido-servicios {
      display: flex;
      flex-direction: column; } }

@media screen and (min-width: 980px) {
  .contenido-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .contenido-flex .contenido-valores__compromiso {
      padding: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem; } }

.footer {
  text-align: center;
  background-color: #FFEFCA; }
  .footer .contenedor-footer {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35vh; }
    .footer .contenedor-footer .footer__elementos-titulo > * {
      font-size: 1.3rem;
      margin-top: 3.5rem; }
    .footer .contenedor-footer .footer__elementos-redes .footer__elementos-li {
      display: flex; }
      .footer .contenedor-footer .footer__elementos-redes .footer__elementos-li > * {
        padding: .7rem;
        margin: .5rem;
        border: 2px solid black;
        border-radius: 100%; }
    .footer .contenedor-footer * > span {
      font-size: .8rem; }
