/* --------------------------------------------- seccion catalogo ----------------------------------------- */
.section-slide {
  align-items: center;
  background-image: url(https://colombia.travel/sites/default/files/inline-images/xLos-tejidos-Way,PC3,PBAu_-lo-mejor-del-crochet---Cortesia-Mario-Carvajal-www.mariocarvajal.jpg.pagespeed.ic.Je2ROLAKQF.jpg);
  background-repeat: no-repeat repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-bottom: 0;
  position: relative;

  &::before {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }

  .contenido-slide {
    color: $color-primary;
    line-height: 6vh;
    text-align: center;
    z-index: 1;
    .slide--titulo {
      text-shadow: 1px 1px $color-secondary-1-2, -1px -1px #333;
      font-size: calc(3em + 2vw);
    }
    .contenido-slide--boton {
      background: rgba(0, 0, 0, 0);
      border-color: $color-primary;
      border: 2px solid;
      color: $color-primary;
      font-size: 20px;
      font-weight: 500;
      padding: 0.5em 1.2em;
      transition: all 1s ease;
      text-decoration: none;
      &:hover {
        background-color: $color-primary-1;
        color: $color-secondary-1-4;
        transition: all 1s;
      }
    }
  }
}

//seccion catalogo galerias-----------------------------------------
.section-galeria {
  padding: 1rem;
  .galeria__card {
    display: grid;
    gap: 1rem;
    .card-imagenes {
      .card--imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.6rem;
        &:hover {
          filter: brightness(40%);
          transition: all 0.5s;
          text-align: center;
        }
      }
    }
  }
}
//------media querys----------------------------------
@media screen and (min-width: 330px) {
  .contenedor-galeria__tienda {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 180px;
    gap: 1rem;
  }
}

@media screen and (min-width: 460px) {
  .galeria__card {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 340px 340px 340px;
    gap: 1rem;
  }

  
}

@media screen and (min-width: 680px) {
  .galeria__card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 340px 340px 340px;
    gap: 1rem;

    .card-imagenes:nth-child(6) {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }
  }

}

@media screen and (min-width: 980px) {
  .galeria__card {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 340px 340px 340px;
    gap: 1rem;

    .card-imagenes:nth-child(1) {
      grid-row: 1 / 3;
    }
    .card-imagenes:nth-child(3) {
      grid-column: 3 / 5;
    }
    .card-imagenes:nth-child(4) {
      grid-column: 3 / 5;
      grid-row: 3 / 4;
    }
    .card-imagenes:nth-child(5) {
      grid-row: 3 / 4;
    }

    .card-imagenes:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
  }

  .info-wayuu__informacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1rem;

    .informacion-mochilas__wayuu:nth-child(2) {
      flex: 1 1 50%;
    }
  }

  
}

//--fin catalogo galerias---------------------------------------------------



//seccion informativa sobre las mochilas wayúu------------------------
.contenedor-informativo-wayuu {
  .info-wayuu__informacion {
    height: auto;
    padding: 1rem;

    .informacion-mochilas__wayuu {
      .informacion-titulo__wayuu {
        font-size: calc(2em + 1vw);
        font-family: $fontTitulos;
      }

      .informacion__texto {
        //font-size: 2rem;
        font-family: $fontTexto;
        text-align: justify;
        padding: 2.5rem 0px;
      }
    }
  }
}

//galeria
.imagenes-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 380px 380px 380px 380px;
  gap: 1rem;
  padding: 1rem;
  .contenedor-imagenes {
    position: relative;
    box-shadow: 5px 10px 8px #888888;
    .imagenes--img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      position: absolute;
     
      transform: translate(0px, 0px) scale(1);
      transition: all 500ms ease-in-out;
      &:hover {
        filter: brightness(90%);
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transform: translate(-50px, -50px) scale(0.5);
        

      }
    }

    .img--link {
      color: rgb(243, 168, 77);
      display: block;
      font-size: 20px;
      font-family: $fontTexto;
      height: 50%;
      text-decoration: none;
      top: 70%;
      right: 0;
      padding-right: 5px;
      position: absolute;
      z-index: -1;
    }
  }
}
//media querys-----img-galeria-----------------------------------------
@media screen and(min-width: 460px){

  .imagenes-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px;
  }
}

@media screen and(min-width: 680px){

  .imagenes-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 380px 380px;
  }
}

@media screen and(min-width: 880px){

  .imagenes-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px;
  }
}

@media screen and(min-width: 990px){

  .imagenes-grid{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
  }
}

//media querys----------------------------------------------

