
.footer {
    //background-image: linear-gradient(to right, $primary, #95BCAB);
    color: $color-primary-4;
    font-family: $fontTexto;
    text-align: center;
    background-color: $color-primary;
    .contenedor-footer{
      display: flex;
      height: inherit;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: auto;
      .footer__elementos-titulo{
      
        & > *{
          font-size: 1.3rem;
          margin-top: 2rem;
        }

      }

      .footer__elementos-redes{

        .footer__elementos-li{
          
          display: flex;
          .fa{
            color: rgb(210, 105, 30);
            font-size: 20px;
          }
          & > *{
            padding: .7rem;
            margin: .5rem;
          }

        }

      }

      * > span{
        font-size: .8rem;  
      }
       
    }
    
    .footer-sitios-web{
      & > a{
        color: rgb(210, 105, 30);
        display: inline-block;
        font-weight: 400;
        font-size: 15px;
        text-decoration: none;
        padding: .5rem;
        
        
      }
    }
  
    
  }