.header{
  background-color: $primary ;


  .header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .menu__bars{
      background-color: $terceario;
      margin-right: 1rem;
      * > i{

        font-size: 1.5rem;
        padding: .5rem;
        color: aliceblue;

      }
    }

    .titulo1{
      font-size: 40px;
    }

    
    
    
    .header--nav-titulo {
     
      color: $primary;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;
      margin: 0;
      
      display: inline-block;
      
      font-weight: bold;
      letter-spacing: -4px;
      text-shadow: 0 8px 9px #d8bd95, 0px -2px 1px #176294;
    }
    
    .header__nav--link {
      
      color: $color-texto;
      display: block;
      font-family: $fontTexto;
      padding: 1.5rem;
      text-decoration: none;
  
      &:hover {
        color: #176294;
        
      }
    }

  }
}

@media screen and (min-width: 960px){
  .menu__bars{
    display: none;
  }
  .header__nav-menu{

    .nav-menu__none{
      display: flex;
    }
  
  }
}

@media screen and (max-width: 960px){

  .header__nav-menu{
    display: none;
  }

}

