.header {
  background-color: $color-primary;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .header__nav-logo {
    flex: 1 1 50%;
  }
  .menu__bars {
    margin-right: 1rem;

    * > i {
      font-size: 1.5rem;
      padding: 0.5rem;
      color: #d8bd95;
    }
  }

  .header__nav-menu {
    flex: 1 1 100%;
    position: fixed;
    top: 68px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    
    .nav-menu__none {
      display: flex;
      flex-direction: column;
      opacity: .8;
      position: relative;
      cursor: pointer;
      .header__nav--link {
        color: $color-primary;
        text-align: center;
        &:hover {
          background-color: #176294;
        }
      }
    }
  }
  #miModal:target {
    opacity: 1;
    pointer-events: auto;
    z-index: 30;
    transition: all 1s;
  }

  .titulo1 {
    font-size: 40px;
  }

  .header--nav-titulo {
    color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;

    display: inline-block;

    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 0 8px 9px #d8bd95, 0px -2px 1px #176294;
  }

  .header__nav--link {
    color: $color-secondary-1-4;
    display: block;
    font-family: $fontTexto;
    padding: 1.5rem;
    text-decoration: none;

    &:hover {
      color: #176294;
    }
  }
}




