/* ------------------------------- seccion carousel -------------------------------------- */
.seccion-fondo {
  height: 75vh;
  position: relative;
  .contenedor-img-fondo:nth-child(1){
    background-image: url(../img/imagenes-galeria/images7_big.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    opacity: 0;
    width: 100%;
    height: inherit;
    position: absolute;
    &::before {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
    }
    .slider-titulo-index{
      z-index: 1;
      .contenedor__titulo{
        color: $color-primary;
        font-size: calc(3em + 2vw);
        text-align: center;
        text-shadow: 1px 1px $color-secondary-1-2, -1px -1px #333;
      }
    
    }
    
  }
  .contenedor-img-fondo:nth-child(2){
    background-image: url(../img/imagen-slider-2);
    @extend .contenedor-img-fondo:nth-child(1)
  }

  .contenedor-img-fondo:nth-child(3){
    background-image: url(../img/imagen-slider-3.jpg);
    @extend .contenedor-img-fondo:nth-child(1);
  }

  .contenedor-img-fondo:first-child{
    opacity: 1;
  }
  .contenedor-img-fondo:target{
    opacity: 1;
  }


}
.slider {
  .slider__ul-flex {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    .slider--miniatura {
      height: 100px;
      object-fit: cover;
      padding: 0.5rem;
      width: 100px;
      border-radius: 10px;
      &:hover{
        filter: brightness(50%);
        cursor: pointer;
        transition: all .5s;
      }
    }
  }
}
//--------------------

.titulo-responsivo {
  padding: 3rem;
  text-align: center;
  .responsivo__titulo1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px $color-secondary-2-2,
      0 0 5px #176294;
  }
}

//seccion informacion
.contenedor-informacion {
  .flex__contenedor-1 {
    .flex__contenedor-contenido {
     
      & > * {
        padding: 1rem;
        //text-align: justify;
      }
    }
    .contenedor--imagen {
      background-attachment: fixed;
      background-image: url(../img/laGuajira.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-clip: border-box;
      background-size: cover;
      height: 80vh;
      width: 100%;
    }
  }

  .flex-contenedor-2 {
    & > h2 {
      padding: 1.5rem;
      text-align: center;
    }
    padding-top: 2.5rem;
    .contenido-flex__contenedor-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-attachment: fixed;
      background-image: url(../img/portada-1.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-clip: border-box;
      background-size: cover;
      height: 50vh;
      position: relative;
      &::before {
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 0;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
      }

      & > p {
        padding: 1.5rem;
        text-align: center;
        font-size: 18px;
        color: #fff;
        position: relative;
      }
    }
  }

  .flex__contenedor-3 {
    .flex__contenedor-contenido {
      
      & > * {
        padding: 1rem;
        text-align: justify;
      }
    }
    .contenedor--imagen {
      background-attachment: fixed;
      background-image: url(../img/mochila-wayuu.jpg);
      background-position: center left;
      background-repeat: no-repeat;
      background-size: cover;
      height: 80vh;
      width: 100%;
    }
  }
}
//----------------------------------------------------------------------------------------------------

//estilos responsive design

@media screen and (min-width: 960px) {
  .flex__contenedor-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .flex__contenedor-contenido {
      flex: 0 0 50%;
    }
  }
  .flex__contenedor-3 {
    display: flex;
    justify-content: space-between;

    .flex__contenedor-contenido {
      flex: 0 0 60%;
      order: 2;
    }
  }
}
