

/* ------------------------------- seccion carousel -------------------------------------- */

.seccion__slider{
  height: 75vh;
 
  
  .contenedor-slider{
    position: relative;
    
    .contenedor__slider-carrusel{
      background-color: #ccc;

      .slider-carrusel-li{
        left: 0;
        right: 0;
        transition: opacity .5s;
        top: 0;
        opacity: 0;
        position: absolute;

        &:first-child{
          opacity: 1;
        }

        &:target{
          opacity: 1;
        }

        
      }
    
      .slider-carrusel--img{
        height: 75vh;
        object-fit: cover;
        width: 100%;
        
  
      }
  
    }

    .slider-carrusel__navegacion{

      display: flex;
      height: inherit;
      justify-content: center;
      align-items: flex-end;
      
      .navegacion__li{
        padding: .3rem;
        & > a{
          display: block;
          background-color: rgba(241, 235, 235, 0.739);
          border-radius: 100%;
          color: #173863;
          cursor: pointer;
          font-size: 18px;
          height: 30px;
          text-decoration: none;
          text-align: center;
          padding: .4rem;
          position: relative;
          width: 30px;
          z-index: 10;
        }

      }
    }

  }



}






/* --------------------------------------------------------- fin de la seccion del contenedor carousel ---------------------------------------------------- */

/* ----------------------------------------- estilos contenedor grid ------------------------------------------------------ */

.contenedor-galeria {
  .container__galeria{
    padding: .5rem;
    border: solid 1px $primary;
    
    margin-top: 1rem;
  }
  .contenedor__grid {
    padding: 1rem;
    .galeria--imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: .8rem;
      
    }
  }
}

@media screen and (min-width: 560px){
  
  .contenedor__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 380px;
    gap: 10px;
    

  }
    

}
@media screen and (min-width: 960px){
  
  .contenedor__grid{
   
    grid-template-columns: repeat(4, 1fr);
    


  }
    

}

/*  ------------ aqui terminan los estilos de grid ------------------- */


  .titulo-responsivo {
    font-size: 18px;
    margin: 1.5rem 0px;
    padding: 1rem;
    text-align: center;
    //text-shadow: 0 8px 9px $terceario, 0px -2px 1px;
  }
  

  .contenedor-texto-gente{
    padding: 1rem;
    margin-bottom: 4rem;
    .titulo-parrafo__titulo1 {
      text-align: center;
      margin-bottom: 1rem;
      
    }

    .texto-gente__parrafo{
      text-align: justify;
    }

  }


.section-figura {
  background-image: url(https://www.eltiempo.com/uploads/2018/01/26/5a6bcf8f5f050.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  margin-top: -2rem;
}

.section-figura__titulo {
  cursor: default;
  height: 100px;
  margin: auto;
  display: block;
  animation: texto 0.3s ease infinite alternate;  //animation
  font-family: $fontTexto;
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 400px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
}

@keyframes texto {
  100% {
    top: -30px;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 30px 30px rgba(0, 0, 0, 0.3);
  }
}

//estilos responsive design


@media screen and (min-width: 560px){
  
  .contenedor__grid{
    
    grid-template-columns: repeat(2, 1fr);
    
    
  }
    

}
@media screen and (min-width: 960px){
  
  .contenedor__grid{
   
    grid-template-columns: repeat(4, 1fr);
    
  }
    

}
