@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
//variables
$fontTitulos: "Arvo", serif;
$fontTexto: "Libre Baskerville", serif; 
//$fontTexto: "Yanone Kaffeesatz", sans-serif; 
$color-texto: black;

//paleta de colores
$color-primary: #FFEFCA;
$color-primary-1: #E7CC8F;	// colores primarios */
$color-primary-2: #FFFAEE;
$color-primary-3: #BF9D4F;
$color-primary-4: #946F1A;

$color-secondary-1-0: #83649B;	// colores secundarios */
$color-secondary-1-1: #D6CEDB;
$color-secondary-1-2: #A995B9;
$color-secondary-1-3: #623A80;
$color-secondary-1-4: #421763;

$color-secondary-2-0: #629E85;	// colores secundarios base 3 (2) */
$color-secondary-2-1: #CEDDD7;
$color-secondary-2-2: #95BCAB;
$color-secondary-2-3: #368362;
$color-secondary-2-4: #126542;


/*Estilos Generales*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5, h6{
  font-family: $fontTitulos;
  font-weight: 500;
  font-size: calc(2em + 1vw);
}

.container{
  margin: 0 auto;
  max-width: 1250px;
}

.button {
  background-color: $color-secondary-1-4;
  border: none;
  color: white;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //font-size: 16px;
  cursor: pointer;
  &:hover{
    background-color: $color-secondary-2-3 ;
  }
}

@for $i from 1 to 7{

  .titulo#{$i}{
    font-family: $fontTitulos ;
  }

}

p{
  font-family: $fontTexto;
  font-size: 16px !important;
}

li {
  list-style: none;
}
/* <----------- cierre de estilos generales----------------- */

@import "media-query";
@import "header";
@import "index";
@import "catalogo";
@import "quienes-somos";
@import "mi-tienda";
@import "footer";








